/* General CPU clod CSS*/
body {
    padding-top: 100px;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 36px;
}
h2{
    font-size: 30px;
}

h1,h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}
p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.main-container{
    width: 100%;
    margin: 0 auto;
}
.single-row{
    width: 100%;
   
}

/* Header */
.col-left {
    width:  63%;
}
.col-left img {
    width: 100%;
    border-radius: 6px;
}
.col-right{
    width: 32%;
}
.col-left, .col-right{
    float: left;
    padding-left:  15px;
    padding-right:  15px;
}
.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    text-decoration: none;
    display: inline-block;
    text-transform:  uppercase;
}
.clear-fix{
    clear: both;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border:0;
    border-top: 1px solid black;
}

/*Features*/
.col-1, .col-2, .col-3 {
    width: 30%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-info {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid #CECECE;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}
.bt-info:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* Footer */
.col-footer{
    padding: 30px 0;
    
}