/* Small Devices */
@media only screen and (max-width: 767px){
    .navbar-default {
        background-color: #fff !important;
        border-color: #e6e6e6;
    }
    .navbar-brand{
        display: none;
    }
    .about-iphone img {
        width: 100%;
    }

    .purchase-now -col-md-3{
        text-align: center;
        padding-top: 50px;
    }
}

/* Small Devices  and tablets*/
@media only screen and (max-width: 768px){
    .header-iphone {
        display: none;
    }
    .header-text, header-btns{
        text-align:center;
    }
}
/* Medius Devices, desktop */
@media only screen and (max-width: 992px){
    
}

/* Large Devices, wide devices */
@media only screen and (max-width: 1200px){
    
}